<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>



    <title>Document</title>
    <style>
        .pad {
            padding-right: 7px !important;
            padding-left: 7px !important;
        }

        body {
            /* background: grey; */
            background: linear-gradient(to right, #e4675f 0%, #68c1d1 100%);
        }
        .lol {
            height: 500px;
        }
    </style>
</head>
<body>
        <div class="ui inverted stackable big menu">
                <div class=" item ui ">
                    <div class="ui inverted button">
                        <i style="font-size:1.5em;" class="book icon"></i>DiGiLiBs
                    </div>
                </div>
                <div class="right menu">
                    <div class="item pad">
                        <div class="ui inverted mini red button">welcome Adhi</div>
                    </div>
                    <div class="item pad">
                        <div onclick="c()" class="ui inverted mini blue button">GT-Books</div>
                    </div>
                    <div class="item pad">
                        <div class="ui inverted mini orange button ">LOGIN</div>
                    </div>
                    <div class="item pad">
                        <div class="ui inverted mini green button">LOGOUT</div>
                    </div>
        
                </div>
            </div>
            <!-- <h1 style="text-align:center;">Book name</h1>
            <div style="width:500px; margin-bottom: 40px;" class="ui centered card">
                    <div class="image">
                        <img src="https://images.all-free-download.com/images/graphiclarge/student_and_education_logo_free_download_6820451.jpg">
                    </div>
                    <div class="content ui inverted">
                        <h3 class=" ui centered huge blue header">Book name</h3>
                        <span class=" ui medium black header">ISBN:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Book_ISBN</span>
                                <span class=" ui medium black header">Book_id:&ensp;&ensp;&ensp;&ensp;&ensp;Book_ID</span>
                                <span class=" ui medium black header">Author:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Book_Author</span>
                                <span class=" ui medium black header">Publisher:&ensp;&ensp;&ensp;&ensp;Book_Publisher</span>
                                <span class=" ui medium black header">Edition:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Book_Edition</span>
                                <span class=" ui medium black header">Subject:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Book_Subject</span>
                                <span class=" ui medium black header">Rack_id:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Book_RackId</span>
                                <span class=" ui medium black header">#Books inside:&ensp;&ensp;Book_#inside</span>
                    </div>
                </div> -->






<!-- <div class="ui unstackable items">
        <div class="item ui">
          <div class="image">
            <img src="https://images.all-free-download.com/images/graphiclarge/student_and_education_logo_free_download_6820451.jpg">
          </div>
          <div class="content">
            <a class="header">Header</a>
            <div class="meta">
              <span>Description</span>
            </div>
            <div class="description">
              <p></p>
            </div>
            <div class="extra">
              Additional Details
            </div>
          </div>
        </div>
        
      </div> -->

      <div style="padding:20px;">
            <img style="float:left;" width="500px" height="500px" src="https://images.all-free-download.com/images/graphiclarge/student_and_education_logo_free_download_6820451.jpg" alt="" srcset="">
            <div style="padding:10px; background:white; height:500px;" id="details1">

            </div>
      </div>
</body>