<%include ../partials/header%>

<div style='margin-top:100px'></div>

      <div style="padding:20px;">
            <img style="float:left;" width="40%" height="550px" src="https://images.all-free-download.com/images/graphiclarge/student_and_education_logo_free_download_6820451.jpg" alt="" srcset="">
            <div style="padding:20px; background:white;width:60%; float:right; height:550px;" id="details1">
                <div class="ui column">
                    <div class="ui fluid card">
                <div class="ui content" >
                  <h1 style="text-align:center">Book Name</h1>
                  <span class=" ui large header">ISBN: </span>
                  <span class=" ui large header">Subject_name: </span>
                  <span class=" ui large header">Book_edition: </span>
                  <span class=" ui large header">Author_name: </span>
                  <span class=" ui large header">Publisher_name: </span>
                  <span class=" ui large header">Price: </span>
                  <span class=" ui large header">Subject_id: </span>
                  <span class=" ui large header">Rack_id: </span>
                </div></div>
            </div>
            </div>
            <div style="clear:both;"></div>

            <div style="width:100%; margin-top:20px">
            <div class="ui four column grid">
               <%for(i=0;i<=9;i++){%> 
                <div  class="ui column">
                  <div class="ui fluid card">
                    <div style="background-color:lightblue;color:white" class="ui content">
                      <span class=" ui medium header">Identification: </span>
                      <span class=" ui medium header">Book_id: </span>
                      <span class=" ui medium header">Date_bought: </span>
                      <span class=" ui medium header">In_status: </span>
                      <span class=" ui medium header">Borrowed by: </span>
                    </div>
                  </div>
                </div>
                <%}%>
              </div>
            </div>
            <!-- stats -->
            <div  style="width:100%; ;margin:0 0px;;margin-top: 10px; padding:10px; text-align: center" class="ui inverted segment">
                <div class="ui four statistics">
                <div class="ui inverted statistic">
                  <div class="value">
                        <i class="heart outline sign icon"></i>  54
                  </div>
                  <div class="label">
                       #BOOKS BOUGHT
                  </div>
                </div>
                <div class="ui red inverted statistic">
                  <div class="value">
                        <i class="smile outline sign icon"></i>27
                  </div>
                  <div class="label">
                    #BOOKS PRESENT TOTALLY
                  </div>
                </div>
                <div class="ui orange inverted statistic">
                  <div class="value">
                        <i class="exclamation sign icon"></i> 8
                  </div>
                  <div class="label">
                    #BOOKS LOST
                  </div>
                </div><p></p><p></p>
                <div class="ui yellow inverted statistic">
                  <div class="value">
                        <i class="eye icon"></i> 28
                  </div>
                  <div class="label">
                    #BOOKS INSIDE LIBRARY
                  </div>
                </div>
                <div class="ui olive inverted statistic">
                  <div class="value">
                        <i class="eye slash sign icon"></i> 7
                  </div>
                  <div class="label">
                    #BOOKS BORROWED
                  </div>
                </div>
                <div class="ui  green inverted statistic">
                    <div class="value">
                            <i class="flag outline sign icon"></i>14
                    </div>
                    <div class="label">
                      #TIMES BOOK TAKEN
                    </div>
                  </div>
                  <div class="ui  green inverted statistic">
                    <div class="value">
                            <i class="rupee sign icon"></i> 14
                    </div>
                    <div class="label">
                      #TOTAL FINE PAID
                    </div>
                  </div>
            
              
                
            </div>
              </div>
      </div>
      
</body>






