<%include ../partials/header%>

<div class="container">
<div class="col-sm-12">
  <div class="ui segment" style="background:#e2d1c3;margin-top:200px;height:250px;">
    <form action="/login" method='POST'>
      <h3 class="ui left aligned header" style="position: absolute;margin-top:5px;margin-left:100px;font-size:1.5em;font-family: 'Libre Franklin', sans-serif;">
        USERNAME
      </h3>
      <div class="ui input" style="width:500px; margin-left:450px;position: absolute;">
        <input type="text" title="rollnumber" name='username' placeholder="Username" /><br>
      </div>
      <br>
      <br>
      <div class="ui divider"></div>
      <h3 class="ui left aligned header" style="position: absolute;margin-top:5px;margin-left:100px;font-size:1.5em;font-family: 'Libre Franklin', sans-serif;;">
        PASSWORD
      </h3>
      <div class="ui input" style="width:500px; margin-left:450px;position: absolute;">
        <input type="password" name='password' title="rollnumber" placeholder="Password" /><br>
      </div>
      <br>
      <br>
      <div class="ui divider"></div>
      <button type="submit" class="ui button" style="margin-left:450px; background-color:#b0bec9;height:40px;width:150px;font-family: 'Libre Franklin', sans-serif;font-size:1.2em;">LOGIN</button><br>
      <!-- <a class="forgot" href="#">Forgot Username?</a>  -->
      </div>
  </form>
</div>
</div>
<%include ../partials/footer%>