<%include ../partials/header%>
<h1>Sign Up form</h1>
<form action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="text" name="check" placeholder="student/teacher/admin/issuer">
    <button type="submit">Submit</button>
</form>
<%include ../partials/footer%>