<%include ../partials/header%>

    <div class="container" style="margin-top:70px;">
        <div class="ui segment">
            <h2 class="ui header" style="text-align: center;">
                VIEW DETAILS
            </h2>
            <div class="ui section divider"></div>
            <h3 class="ui header">VIEW</h3>
            <form action="">
            <button class="ui button" id="name" onclick="ActiveClassName()">
                STUDENTS
            </button>
            <button class="ui button" id="author" onclick="ActiveClassAuthor()">
                TEACHERS
            </button>
            <h3 class="ui header">SEARCH USING</h3>
            <h3 class="ui header">NAME</h3>
            <div class="ui icon input" style="width:100%;">
                <input type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <br>
            <h3 class="ui header">ID</h3>
            <div class="ui icon input" style="width:100%;">
                <input type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <br>
            <h3 class="ui header">EMAIL ID</h3>
            <br>
            <div class="ui icon input" style="width:100%;">
                <input type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <br>
            <h3 class="ui header">PHONE #</h3>
            <br>
            <div class="ui icon input" style="width:100%;">
                <input type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <br>
            <br>
            <button class="ui button">SUBMIT</button>
        </form>
            <div class="ui section divider"></div>
            <br>
            <table class="ui padded table">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>ID</th>
                        <th>EMAIL ID</th>
                        <th>PHONE #</th>
                    </tr>
                </thead>
                <tbody>
                        <% teacher.forEach(function(st){ %>
                    <tr>
                        <td><%= st.Fa_name %></td>
                        <td><%= st.Faculty_no %></td>
                        <td><%= st.Fa_email %></td>
                        <td><%= st.Fa_phone_no %></td>
                    </tr>
                      <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    </div>
    <%include ../partials/footer%>