<%include ../partials/header%>
<br><br><div style='margin-top:200px;'></div>
<a href="/studentdetails" class="ui green button">Student details</a><br><br>
<a href="/bookdetails" class="ui teal button">Book details</a><br><br>
<a href="/teacherdetails" class="ui blue button">Teacher details</a><br><br>

<%include ../partials/footer%>